rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permite que qualquer pessoa leia e escreva em oficios, historico e pushSubscriptions
    match /{collection}/{docId} 
      where collection in ['oficios', 'historico', 'pushSubscriptions'] {
      allow read, write: if true;
    }

    // Permite que qualquer pessoa leia e escreva no documento de configuração
    match /config/{configId} {
       allow read, write: if true;
    }
  }
}
